body,
html {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2019/06/25/07/11/graffiti-4297634_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #86bbd8;
  width: 99.3%;
  height: 10%;
  border-radius: 5px;
  margin: 4px;
  border: 2px solid #fa7921;
}

.flex {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  padding: 5px;
  margin-right: 7px;
}
.inp-search {
  width: 62%;
  height: 28px;
  padding: 12px 20px;
  margin-top: 16px;
  display: inline-block;
  border: 1.9px solid chocolate;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-size: 21px;
  color: chocolate;
}

a:hover {
  color: rgb(32, 21, 12);
}

.icon {
  margin-left: 14px;
  margin-top: 8.7px;
}

.flexx {
  display: flex;
  height: 73%;
  margin-top: 19px;
  margin-bottom: 21px;
}

.sidbar {
  display: block;
  background-color: #86bbd8;
  width: 10%;
  height: 100%;
  margin: 4px;
  margin-top: 0px;
  border-radius: 6px;
  border: 2px solid #fa7921;
}
.ulsid {
  text-align: center;
  font-size: 17px;
}
.main {
  height: 100%;
  background-color: rgba(192, 192, 192, 0.562);
  border: 2px solid #fa7921;
  width: 88.2%;
  margin-left: 3px;
  border-radius: 6px;
}

footer {
  background-color: #86bbd8;
  height: 8.3%;
  border-radius: 5px;
  margin: 4px;
  width: 99.3%;
  bottom: 0;
  border: 2px solid #fa7921;
}
.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.test {
  margin: 3px;
  margin-top: 6px;
}
.mov {
  margin: 3px;
  margin-top: 7px;
  margin-bottom: 20px;
  color: chocolate;
  font-size: 19px;
}
.movv {
  font-size: 10px;
  margin: 3px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: chocolate;
}
.mov:hover {
  color: rgb(32, 21, 12);
  cursor: pointer;
}
.movv:hover {
  color: rgb(32, 21, 12);
  cursor: pointer;
}
.flexxxx {
  width: 100%;
  height: 100%;
}
.movie {
  display: block;
  background-color: #86bbd8;
  width: 100%;
  height: 38%;
  margin-top: -1%;
  border-radius: 6px;
}

.mslslat {
  display: block;
  background-color: #86bbd8;
  width: 100%;
  height: 38%;
  margin-top: 0%;
  border-radius: 6px;
}
.testt {
  margin: 3px;
  margin-top: 2.7px;
  display: flex;
}
.mo {
  border-radius: 5px;
  margin: 3px;
}
p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  color: rgb(9, 79, 184);
  margin-top: 0;
}
.moo {
  border-radius: 5px;
  margin: 3px;
  margin-left: 20px;
}
.pp {
  margin-top: 2px;
}

img {
  transition: all 0.2s ease-in-out;
}
img:hover {
  transform: scale(1.1);
}
